@using Quanlytrungtamngoaingu.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<GiaoVien>
@{
    ViewBag.Title = "KhoaHoc";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../images/bg_1.jpg');">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Giảng Viên</h2>
                <p>Giangr Viên trình độ cao, thân thiện với học viên</p>
            </div>
        </div>
    </div>
</div>


<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="/Home/Index">Trang Chủ</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Giảng Viên</span>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="course-1-item">
                        <figure class="thumnail">
                            <a href="course-single.html"><img src="@Url.Content("~/images/"+item.images)" style="height:400px;width:350px;" alt="Image" class="img-fluid"></a>
                            <div class="price"><h3>@item.Tengv</h3></div>
                            <div class="category" style="color:white">Liên hệ: @item.Dienthoaigv</div>
                        </figure>
                        <div class="course-1-content pb-4">
                            <h2>Làm việc tại trung tâm đa ngôn ngữ</h2>
                            <div class="rating text-center mb-3">
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                                <span class="icon-star2 text-warning"></span>
                            </div>
                            <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>                        
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div style="clear:both"></div>
<div style="text-align:center; margin-top:30px;">
    @*Tạo link liên kết trang*@
    Trang@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("GiangVien", new { page = page }));
</div>
